*.so
*.o
__pycache__
output/*
.idea/*
smartscore/lib/*
.vscode/*
smartscore/Rust/make_predictions/target/*
smartscore/Rust/weight_optimizer/target/*
.env
node_modules
.venv
.poetry
.pytest_cache
.ruff_cache
output
.coverage